@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

.connexion{
    position: absolute;
    background-color: #05192d;
    height: 100%;
    width: 100%;

}

.login{

}

.title{
    text-align: center;
    font-size: xxx-large;
    font-family: 'Kantumruy Pro', sans-serif;
    color: aliceblue;
}